/* Fonts */
@font-face {
    font-family: 'Red Hat Family';
    src: url(fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf);
}

* {
    font-family:  sans-serif;
}

.attribution { font-size: 11px; text-align: center; }


    .attribution a { color: hsl(228, 45%, 44%); }